*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a>input{
    text-decoration: none;
    color: #fff;
    padding:3px 7px;
   height: 30px;
   background: #333;
   appearance: none;
   color: #fff;
   font-weight: 600;
   letter-spacing: 2px;
   border-radius:5px;
   cursor: pointer;
}
body{
    background: #111;
    color: #c0c0c0;
    display: grid;
    min-height: 100vh;
    place-items: center;
}
form{
    width: clamp(320px,30vw,25vw);
    height: clamp(400px,50vh,50vh);
    background: #000;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 800;
    & input[type='text'],input[type='password']{
        height: 40px;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 5px;
        border-radius: 10px;
        outline: 2px solid transparent;
        border: 2px solid transparent;
        transition: all .3s ease;
        &:focus{
            scale: 1.01;
            outline: 2px solid #00ff00;
            box-shadow: 1px 1px 5px #00ff00 ;
        }
    }
    & input[type='submit']{
        padding:5px 10px;
       height: 50px;
       background: #333;
       appearance: none;
       color: #fff;
       font-weight: 600;
       letter-spacing: 2px;
       border-radius:5px;
       cursor: pointer;
    }
}
.success{
    font-weight: 900;
    font-size: 2rem;
}
